{% extends "layout.html" %}
{% block content %} 
    <article class="media content-section">
        <div class="media-body">
            <h1>Home Page</h1>
        </div>
        <div>
            <body>
                <form action="/predict/" enctype="multipart/form-data" method="post">
                    <input name="file" type="file">
                    <input type="submit" value="Predict!">
                </form>
                <form action="/upload" enctype="multipart/form-data" method="post">
                    <input name="files" type="file" multiple>
                    <input type="submit" value="Train Dataset!">
                </form>
            </body>
        </div>
        <div>
            
        </div>
    </article>
{% endblock content %}