{% extends "layout.html" %}
{% block content %} 
    <article>
        <style>
            .centre{
                margin: auto;
                width: 50%;
                padding: 10px;
            }
        </style>
        <div class="centre">
            <h1>Prediction</h1>
        </div>
        <div class="centre">
            <h4>Result: {{final["result"]}}</h4>
        </div>
        <div class="centre">
            <h4>Filename: {{final["filename"]}}</h4>
        </div>
        <div class="centre">
            <img src="data:image/jpeg;base64,{{ myImage | safe }}" alt="Input Image" width="300" height="250">
        </div>
        <div class="centre">
            <form action="/home/" method="get">
                <button id="myButton">Home</button> 
                <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () 
                    {
                        location.href = "home.html";
                    };
                </script>
            </form>
        </div>
    </article>   
{% endblock content %}